*{
  margin:0;
  padding: 0;
}

  h1{
    text-align:center; font-size:30px; text-transform:uppercase; color:#222222dd; letter-spacing:1px;
    font-family:"Fugaz One"; font-weight:400; margin-bottom: 50px;;
   
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
   }

    h1:after, h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }

  .roboto-condensed{
    font-family: roboto condensed;
    color: rgba(0, 0, 0, 0.686);
  }