@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

/* LOGO TEXT */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06rem;

 
  border-radius: 0.6rem;
  background: #ffffff;
  animation: fadeIn 1s ease-out both;

  width: fit-content;
  max-width: 90vw;
  margin: 2.5rem auto;
}

.logo-title {
  font-size: 2rem;
  color: #111;
  text-shadow: 0.06rem 0.06rem 0.12rem rgba(0, 0, 0, 0.08);
  line-height: 1.1;
}

.logo-subtitle {
  font-size: 2rem;
  color: #e11d48;
  margin-top: -0.3rem;
  text-shadow: 0.06rem 0.06rem 0.12rem rgba(0, 0, 0, 0.05);
}

/* BELT SECTION */
.belt-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* BELT BODY */
.belt {
  position: relative;
  width: 20rem;
  height: 1.5rem;
  background: linear-gradient(to bottom, #1a1a1a, #000);
  border-radius: 0.2rem;
   overflow: hidden;
}

/* RED STRIPE */
.red-bar {
  position: absolute;
  top: 0;
  right: 1.25rem;
  width: 4rem;
  height: 100%;
  background: linear-gradient(to bottom, #cc0000, #7a0000);
  box-shadow: inset 0 0 0.3rem #000;
  border-radius: 0.2rem;
}

/* WHITE BAR TAPE */
 

.bar-tape.top {
  top: 0.25rem;
}

.bar-tape.bottom {
  bottom: 0.25rem;
}

/* ANIMATION */
 