.sticker-wrapper {
  position: relative;
  display: inline-block;
  transform: rotate(-2.5deg);
  background: linear-gradient(135deg, #fff 0%, #f7f7f7 100%);
  border: 2px solid #000;
  padding: 20px 20px;
  border-radius: 14px;
  box-shadow: 6px 6px 5px #000000cb;
  font-family: 'Oswald', sans-serif;
  transition: all 0.3s ease;
  animation: stickerPop 0.5s ease-out both;
  z-index: 5
  
}

.sticker-content {
  text-align: center;
}

.sticker-title {
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
  letter-spacing: 1px;
  line-height: 1.2;
}

.sticker-subtitle {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  color: #555;
  margin-top: 8px;
  letter-spacing: 0.5px;
}

@keyframes stickerPop {
  0% {
    transform: scale(0.9) rotate(-2.5deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(-2.5deg);
    opacity: 1;
  }
}

.sticker-party {
  font-size: 40px;
  animation: pulsate 3s infinite ease-in-out;
    display: inline-block; /* 🔑 required for transform to work */

}

@keyframes pulsate {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.4); }
  100% { transform: scale(1); }
}
